:root {
  --primary-color: #FCD8D4;
  --secondary-color: #FDF6F0;
  --color-light: #F8E2CF;
  --color-dark: #F5C6AA;
}

body {
  margin: 0;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  max-width: 582px;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  max-width: 582px;
}

p {
  max-width: 582px;
  font-size: 20px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero-bg {
  background-size: cover;
}

@media (max-width: 600px) {
  .hero-bg {
    background-size: auto 100svh;
  }
}

.hero-text {
  position: relative;
  height: 100vh;
  padding: 0 2rem;
  background-color: #3232325b;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-color);
  font-family: inherit;
  font-size: 20px;
}

.features-container {
  background-image: url('../assets/images/bg7.png');
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  .features-container {
    grid-template-columns: 1fr;
    background-image: url('../assets/images/bg5.png');
  }
}

.feature {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-x: hidden;
  align-items: center;
}

.feature-text {
  max-width: 582px;
  line-height: 2rem;
}

.feature-image {
  position: relative;
  overflow: hidden;
  min-width: 380px;
  min-height: 300px;
  width: 100%;
}

.reviews-container {
  background-color: white;
}

.review {
  background-color: var(--color-light);
  padding: 1rem;
  margin: 1rem;
  height: 200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.review q {
  font-family: inherit;
  font-weight: 200;
  font-style: italic;
}

.custom-shape-divider-top-1716371668 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1716371668 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 32px;
}

.custom-shape-divider-top-1716371668 .shape-fill {
  fill: #FFFFFF;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color-light);
  padding: 5rem 1rem 1rem 1rem;
  gap: 1rem;
}

.footer-links li {
  line-height: 1.5rem;
}

.footer-links a {
  color: inherit;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer-contact a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.footer-contact p {
  font-size: 16px;
  font-weight: 400;
  max-width: 400px;
}

.footer-social {
  display: flex;
  gap: .5rem;
}

.footer-form {
  display: grid;
  gap: .5rem;
  min-width: 300px;
}

.footer-form input,
textarea {
  border: none;
  padding: 1rem;
  font-family: inherit;
}

.footer-form button {
  padding: .5rem 2rem;
  border: none;
  background-color: #323232;
  font-family: inherit;
  font-size: 20px;
  color: var(--color-light);
}

.prices {
  padding: 1rem;
  background-color: var(--secondary-color);
}

.prices-text {
  display: grid;
  place-items: center;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
  max-width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card h1 {
  font-weight: 600;
}

.card li {
  display: flex;
  text-wrap: wrap;
  margin-block: 1.6rem;
  gap: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 0 1rem;
  z-index: 15;
}

.navbar>ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding-right: 2rem;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.burger-menu {
  display: none;
}

.menu-links {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-block: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hidden {
  height: 0;
  padding: 0;
  overflow: hidden;
  color: transparent;
}

.CTA-offers {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-focus-in {
  -webkit-animation: text-focus-in .9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in .9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .navbar-links {
    display: none !important;
  }

  .burger-menu {
    display: block;
    padding: 1rem 2rem;
  }

  .burger-button {
    border: none;
    background-color: transparent;
  }

  .feature-image {
    min-width: none;
    max-width: 90vw;
  }
}